In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [36]:
df=pd.read_csv('c:/Users/Sreehari/Downloads/Sales_add.csv')

In [37]:
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# 1. clarify whether there is any increase in sales after stepping into digital marketing.

In [ ]:
#Assume Null hypothesis Ho as no increase in sales after stepping into digital marketing
#Alternative hypothesis H1 as is there increase in sales after stepping into digital marketing

In [38]:
SBD=df["Sales_before_digital_add(in $)"]
SAD=df["Sales_After_digital_add(in $)"]

In [39]:
stats.shapiro(SBD)

ShapiroResult(statistic=0.9306764006614685, pvalue=0.12674309313297272)

In [40]:
stats.shapiro(SAD)

ShapiroResult(statistic=0.9702128767967224, pvalue=0.7159645557403564)

In [ ]:
#Here in both above cases, p values is greater than 0.5 alpha value,hence the distribution is normal

In [41]:
stats.levene(SBD,SAD,center="mean")

LeveneResult(statistic=5.171664124853503, pvalue=0.028130575490495715)

In [ ]:
#Here the p value is less than alpha value of 0.05,hence the variance is not equal
#So we need to use welch t test for unequal variance

In [42]:
stats.ttest_ind(SBD,SAD,equal_var=False)

Ttest_indResult(statistic=-12.995084451110877, pvalue=1.1019671619608604e-14)

In [ ]:
#Here the p value is less than 0.05,hence we can reject the null hypothesis
#Confirm there is a improvement in sales after stepping into digital marketing

# 2.if there is any dependency between the features "Region" and "Manager".

In [43]:
dep=pd.crosstab(df["Region"],df["Manager"])
dep

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [ ]:
#Null hypothesis Ho variables are independent
#Alternative hypothesis H1:variables are dependent

In [44]:
Chi=stats.chi2_contingency(dep)
Chi

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [45]:
Chi_Stat_value=Chi[0]
p_val=Chi[1]
d_o_f=Chi[2]
alpha=0.05

In [46]:
Chi_critical=stats.chi2.ppf(q=1-alpha,df=d_o_f)
print("Critical value is",Chi_critical)

Critical value is 9.487729036781154

In [47]:
if(Chi_Stat_value>Chi_critical)&(p_val<=alpha):
    print("Reject null hypothesis and there is dependency between variables")
else:
    print("Accept null hypothesis and there is no dependency between 2 variables")

Accept null hypothesis and there is no dependency between 2 variables